In [1]:
num1 = 20
num2 = 30
print(num1+num2)

50

In [11]:
num1 = 20
num2 = 30
add = num1+num2 
print('The addition of' ,num1, 'and',num2, 'is=' ,add)

The addition of 20 and 30 is= 50

In [15]:
num1 = 20
num2 = 30
add = num1+num2 
print('The addition of',num1, 'and' ,num2, 'is=' , add)

The addition of 60 and 90 is= 150

In [21]:
name = 'akshith'          #This print statement helps in projects buliding 
years = 21                   #like in this statement string is in brackets and variable is in commas 
city = 'mumbai'
print('my name is' ,name, 'im' ,years,  'years old and im from' ,city,)

my name is akshith im 21 years old and im from mumbai

In [23]:
num1 = 20       #in this brackets indicate num1 and num2 and then add after that string we mention format num1 and num2 and add 
num2 = 30
add = num1+num2 
print('The addition of {} and {} is = {}'.format(num1 , num2 , add ))

The addition of 20 and 30 is = 50

In [31]:
name = 'akshith'          #This print statement helps in projects buliding 
age = 21                   #like in this statement string is in brackets and variable is in commas 
city = 'mumbai'
print('my name is {} im {} years old from {}'.format(name , age , city))

my name is akshith im 21 years old from mumbai

In [51]:
num1 = 20
num2 = 30
num3 = 40 
avg=num1+num2+num3
avg1 = round((num1 +num2 +num3)/3,2)
print(avg1)

30.0

In [55]:
num1 = 20            #Always prefer this 
num2 = 30
add = num1+num2 
print(f'The addition of {num1} and {num2} is {add}')

The addition of 20 and 30 is 50

In [61]:
name = 'lakshith'
age = 10
city = 'hyderabad'

In [65]:
print(f'my name is {name} im {age} years old im from {city}')

my name is lakshith im 10 years old im from hyderabad

#END STATEMENT

In [67]:
print('hello')
print('good morning')

hello
good morning

In [69]:
print('hello',end=' ')     # end =' ' this refers to the print in one line and also given the space for 2 statement 
print('good morning')

hello good morning

In [71]:
print('hello')
print('world')

hello
world

In [73]:
print('hello', end =' ')
print('world')

hello world

#SEPARATE STATEMENT

In [75]:
print('hello','hy','how are you',sep='------>')         #this is separate statement like we mentiomn sep ='   '

hello------>hy------>how are you

In [77]:
print('hello','hy','how are you',sep='@')

hello@hy@how are you

In [79]:
print('hello','hy','how are you',sep='&')

hello&hy&how are you

In [81]:
print('hello','hy','how are you',sep='*')

hello*hy*how are you

In [85]:
print('hello','hy','how are you',sep='  ')

hello  hy  how are you

In [87]:
print(4,'.')      #here after 4 int there was fullstop with gap

4 .

In [91]:
print(4,'.',sep='')    #here there was no fullstop

4.

In [101]:
print(4,5, end=' ')   #here statemnet 1 end then 2nd statement also add in first stement also thats why we use end statement 
print(6,'.',sep='')

4 5 6.

In [105]:
a,b,c,d,e = (10,2.3,'akshith',True,10+2j)
print(a)
print(b)
print(c)
print(d)
print(e)

10
2.3
akshith
True
(10+2j)

In [107]:
a,b,c,d,e = (10,2.3,'akshith',True,10+2j)
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [117]:
print('aksshith is a good boy \n he is studying in 6th cls')    #\n defines that new line

aksshith is a good boy
 he is studying in 6th cls

In [119]:
s = 'akshith'

In [121]:
s[:3]

'aks'

In [123]:
s[0:5]

'akshi'

In [125]:
s[::1]

'akshith'

In [131]:
s[:-1]

'akshit'

In [133]:
s[3:9]

'hith'

In [159]:
a = 10 
b = 20 
add = (a+b)
if a+b is == 0
print('evennumber')