#16th april

variable name = value 
i = 10 (a- variable , valu = 10) 10-int
tyep (a)-int
f = 1.09--float


datatypes born with variable concept

#integer datatypes

In [3]:
i = 30
i

30

In [7]:
i = 30         #INT datatype    class int is a inbulit integer
print(i)
print(type(i))

30
<class 'int'>

In [9]:
diesel = 110.90      #Float datatype
diesel

110.9

In [15]:
print(type(diesel))

<class 'float'>

In [21]:
a1 , a2 = 12 , 13
print(a1)
print(a2)
print(a1+a2)

12
13
25

STRING DATATYPE

In [23]:
s = akshith teja     #string always strt with single code

SyntaxError: invalid syntax (2742282743.py, line 1)

In [27]:
s = 'akshith teja'
s

'akshith teja'

In [29]:
type(s)

str

In [31]:
s = "akshith teja"
s

'akshith teja'

In [33]:
type(s)

str

In [37]:
s1 = "naresh it technology datascience, ai student---6 months i will change your brain"
s1

'naresh it technology datascience, ai student---6 months i will change your brain'

In [39]:
s1 = "naresh it technology datascience,    #3 lines codes always have 3 codes 
ai student---
6 months i will change your brain"
s1

SyntaxError: unterminated string literal (detected at line 1) (1683290652.py, line 1)

In [43]:
s1 = '''naresh it technology datascience,    #3 lines codes always have 3 codes , 3 codes ''' is for multiple lines 
ai student---
6 months i will change your brain'''
s1

'naresh it technology datascience,    #3 lines codes always have 3 codes \nai student---\n6 months i will change your brain'

In [45]:
s[0]
s

'akshith teja'

In [47]:
print(s[0])           #forward indexing  left to right

a

In [49]:
print(s[-1])         #backward indexing    right to left

a

In [51]:
s[2:5]      # n(n-1) applicable for python in the right side

'shi'

In [ ]:
s[